<% @header = 'Merge your temporary Canvas account' %>

<form method='POST' action='<%= "#{mount_point}/merge" %>'>
  <div class='text-xs-center'>
    <span class='tag tag-warning'> Temporary Account </span> <%= @temp_info %>
    <span class='glyphicon glyphicon-sort'></span>
    <span class='tag tag-primary'> Primary Account </span>
    <% if !session['user_id'] %>
      <a href='<%= mount_point %>/canvas-auth-login?force_login=1&state=<%= mount_point %>/merge?code=<%= params['code'] %>'>
        Log In / Authorize primary account
      </a>
    <% else %>
      <%= "#{session['user_name']} (#{session['user_email']})" %>
    <% end %>

  </div>

  <input id='code' type='hidden' name='code' value='<%= params['code'] %>'/>
  <input type='submit' class='btn btn-cu' value='Merge'/>
</form>
